/* SANITIZE */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
 body {
    padding-left: 5%;
    padding-right: 5%;
    background-color: darkseagreen;
    line-height: 1.5;
 }
 
 main {
    padding: 2%;
    background-color: beige;
 }
 
 header {
    color: darkslategray;
 }
 
 nav {
    background-color: darkslategray;
 }
 
 nav > ul {
    display: flex;
    width: 80%;
 }
 
 nav li {
    width: 100%;
    display: flex;
 }
 /*
 This is an example of comment inside of CSS
 I wanna write anything about my code inside this piece of comment
 */
 nav a {
    color: beige;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15%;
    width: 100%;
    text-align: center;
 }
 
 nav a:hover {
    background-color: beige;
    color: darkslategray;
 }
 
 
 main > section {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
 }
 
 section > article:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
 }
 
 section h3 {
    color: darkslategray;
 }
 
 article > aside {
    padding: 5%;
    border: 1px dashed darkslategray;
    text-align: justify;
 }
 
 aside > h3 {
    color: darkslategray;
 }
 
 aside > p {
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 1.5;
 }
 
 aside ul {
    padding-left: 25%;
    color: darkslategray;
 } 
 
 aside li {
    list-style-type: square;
    padding-top: 2%;
 }
 
 aside a {
    text-transform: capitalize;
 }
 
 h1, h3 {
    padding-top: 1%;
    padding-bottom: 1%;
 }
 
 time {
    font-weight: 600;
    color: darkslategray;
 }
 
 p {
    width: 95%;
    text-align: justify;
    line-height: 1.5;
    padding-top: 2%;
    padding-bottom: 2%;
 }
 
 a {
    color: teal;
 }
 
 article ul {
    padding-left: 15%;
    list-style-type: square;
    color: darkslategray;
 }
 
 footer {
    background-color: darkslategray;
    color: bisque;
    font-size: 20px;
    padding: 3%;
    text-align: center;
 }